@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 80%; /* Reduce font size by 25% (from 100% to 75%) */
  }
  body { 
    font-family: 'Inter', sans-serif; 
    background-color: #FAFAFA;
    color: #18181b;
  }
}

.bg-grid-pattern {
  background-image: radial-gradient(#e4e4e7 1px, transparent 1px);
  background-size: 24px 24px;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}